

#slider {
    grid-area: slider;
    height: 100%;
}

#imageSlider {
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
}

.slick-slide div {
    width: 100%;
    height: auto;
}

.slick-slider {
    margin: 0 auto;
}

.slick-dots {
    bottom: 8px;
}

.slick-dots li button::before {
    color: white;
}

.slick-dots li.slick-active button::before {
    opacity: 0.75;
    color: white;
}