body{
    /* background-color: #006494; */
    background-color: #13293d;
    color: white;
}

#titleCine{
    color: #98ff98;
}
#titleStory{
    text-align: left;
    margin: 5px 0px;
}
.pageCinema{
    width: 1150px;
    float: right;
}

#photoCinema{
    width: 1150px;
    height: 450px;
}

#photoCine1{
    width:350px;
    float:left;
    border-radius: 5px;
    margin: 10px;
}

#photoCine2{
    width: 350px;
    float:right;
    border-radius: 5px;
    margin:10px;
}

#photoCine3{
    width: 350px;
    float: left;
    border-radius: 5px;
    margin: 10px;
}

#main{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

#aboutText{
    margin:20px;
    text-align: justify;
 
}
