img {
    width: 150px;
    height: 210px;
}

.Seances_card {
    display: flex;
    margin : 10px;
}
.Seances_title {
    font-family: Ubuntu;
    font-size: 1.5em;
    color: #98ff98;
    text-align: start;
    padding-left: 10px;
}

.Seances_wrapper {
    width: 100%;
}